@font-face{
	font-family: cabin;
	src: url("../fonts/Cabin-Regular.otf");
}
@font-face{
	font-family: ubuntu;
	src: url("../fonts/Cabin-Regular.otf");
}
.clearfix{
	clear: both;
}
a{
	color: #366c9a;
}
h1, h2, h3, h4, h5, h6{
	font-family: cabin;
}
body{
	background-color: #f5f5f5;
}
#brand-logo{
	width: 75px;
}
#brand-text{
	position: relative;
	top: 5px;
	font-size: 2.2em;
	font-family: cabin;
}
#page-wrapper{
	border-top: 5px solid #366c9a;

	/* */
	max-width: 1200px;
	margin: 25px auto;
	box-shadow: 1px 1px 15px #cccccc;
	background: #ffffff;
}
#header-inner, #content-inner, #extra-inner, #footer-inner, #credits{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 15px;
}
#header-wrapper{
	
}
#header-inner{
	border-bottom: 3px solid #f5f5f5;
	height: 100px;
}
#main-nav{
	font-size: 1.3em;
	position: relative;
	top: 20px;
	font-family: cabin;
}
#main-nav ul.nav li > a{
	color: #366c9a;
}
ul.nav li a:hover, ul.nav li a:focus{
	border-radius: 0;
	background-color: #ffffff;
}
ul.nav > li > a:hover{
	border-bottom: 2px solid #ffca3a;
}
ul.nav li > a:focus{
	color: #ffca3a;
	border-bottom: 0;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: #ffffff;
}
#content-wrapper{
}
#content-inner{
	min-height: 500px;
	padding-bottom: 25px;
}
#footer-wrapper{
    position: relative;
	background-color: #2F353A;
	color: #ffffff;
}
#footer-inner{
}
#content{
	text-align: justify;
}
#sidebar{
	padding: 0;
}
#sidebar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#sidebar ul li{
	padding: 3px 0 3px 5px;
	border-bottom: 1px solid #2F353A;
}
#sidebar ul li:last-child{
	border-bottom: none;
}
#sidebar ul:last{
	border-bottom: 0px solid black;
}
#sidebar ul li a{
	color: #366c9a;
	transition: padding .5s ease-out 0s;
}
#sidebar ul li a:hover{
	padding-left: 5px;
}
#django-logo{
    position: absolute;
    width: 35px;
    right: 10px;
    bottom: 7px;
}
.block{
	margin-top: 25px;
	border: 1px solid #f5f5f5;
}
.block-heading{
	background: #ffca3a;
	padding: 5px 0;
	text-align: center;
	font-weight: bolder;
	margin-top:0;
	color: #ffffff;
}
.foot{
	margin-top: 25px;
}
.foot-heading{
	text-align: center;
	font-weight: bolder;
}
.foot ul{
	list-style-type: square;
}
.foot ul li{
	border-bottom: 1px solid #252525;
	

	padding: 7px 0 7px 10px;
}
.foot ul li a{
	color: #ffffff;
}
.testimonial {
	background: #f5f5f5;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 0.9em;
}
.testimonial-author {
	margin: 5px;
	padding: 5px;
	background: #ffffff;
}
/* table sorter */
/* tables */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 9pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url("../img/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("../img/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
