
{% load static %}
<!doctype html>
<html>
    <head>
        <title>{{ page.heading }} | python.fossee.in</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/lightbox.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css'%}">
        <link rel="shortcut icon" type="image/png" href="{% static 'website/images/pylogo.png'%}"/>
        <script type="text/javascript" src="{% static 'website/js/jquery.tablesorter.js' %}"></
    </head>
    <body>
  <link rel="stylesheet" type="text/css" href="http://fossee.in/data/banner/css/nice-bar.css" />
   <script type="text/javascript" src="http://fossee.in/data/banner/js/nice-bar.js"></script>
	{% if  permalink == 'home'%}


<!--<div class="nice-bar">
<center>
<a class="nice-text" href="https://docs.google.com/forms/d/e/1FAIpQLSfMg5E9EauODDxgsP1j67FK6MsESNp7qi4kN2VnrEAm57IznA/viewform" target="_blank">  <img src="http://fossee.in/data/banner/images/OM_webbnr3.png" > </a>
        </center>

</div>-->

 	{% endif %}
        <div id="page-wrapper">
        {% block page %}

            {% block header %}
            <div id="header-wrapper">
                <div id="header-inner">
                    <div id="branding" class="pull-left">
                        <img id="brand-logo" src="{% static 'website/images/pylogo.png' %}">
                        <a href="http://python.fossee.in" style="text-decoration: none; color: #424242">
							    <span id="brand-text">Python</span>
    					</a>
                    </div>
                    <ul id="main-nav" class="nav nav-pills pull-right">
                        {% for nav in navs %}
                        {% with subnavs=nav.subnav_set.all %}
                        {% if nav.link|slice:":4" == "http" or nav.link == "#" %}
                        <li>
                        <a href="{{ nav.link }}">
                        {% else %}
                        <li class="dropdown">
                        {% if subnavs|length > 0 %}
                        <a  class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% else %}
                        <a href="{% url 'website:dispatcher' nav.link %}">
                        {% endif %}
                        {% endif %}
                        {{ nav.nav_name }} {% if subnavs|length > 0 %} <span class="caret"></span> {% endif %}
                        </a>
                        {% if subnavs|length > 0 %}
                        <ul class="dropdown-menu pull-right">
                        {% for subnav in subnavs %}
                            {% if subnav.link|slice:":4" == "http" or subnav.link == "#" %}
                                <li><a href="{{ subnav.link }}" target="_blank">{{ subnav.subnav_name }}</a></li>
                            {% else %}
                                <li><a href="{% url 'website:dispatcher' subnav.link %}">{{ subnav.subnav_name }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        {% endif %}
                        </li>
                        {% endwith %}
                        {% endfor %}
                    </ul>
                    <div class="clearfix"></div>
                </div> <!-- /header-inner -->
            </div> <!-- /header-wrapper -->
            {% endblock %}

            {% block content %}
            <div id="content-wrapper">
                <div id="content-inner" class="row">
                    
                    <div id="sidebar" class="col-lg-2 col-md-2 col-sm-2">
                        {% for block in sidebar %}
                        {% if block.linkbox_name %}
                        <div class="block">
                            <h5 class="block-heading">{{ block.linkbox_name }}</h4>
                            <ul>
                                {% for link in block.link_set.all|dictsort:"position" %}
                                {% if link.link|slice:":4" == "http" or nav.link == "#" %}
                                <li><a href="{{link.link}}" target="_blank">{{ link.link_name }}</a></li>
                                {% else %}
                                <li><a href="{% url 'website:dispatcher' link.link %}">{{ link.link_name }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div> <!-- /block -->
                        {% endif %}

                        {% if block.textbox_name %}
                        <div class="block">
                            <h5 class="block-heading">{{ block.textbox_name }}</h4>
                            <p>
                            {{ block.content|safe }}
                            </p>
                        </div> <!-- /block -->
                        {% endif %}

                        {% endfor %}
                    </div> <!-- /sidebar -->

				<!--------------------------- -->
			{% if permalink == 'python-workshops' %}
					      <div id="content" class="col-lg-10 col-md-10 col-sm-10">

                    <h3>Python Workshops </h3>
                    <br>
                    <p>
						{% if page.content %}
							{{ page.content|safe }}
                        {% endif %}
                    </p>
 <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapsestats">
        Workshops Completed 
        </a>
      </h4>
    </div>
    <div id="collapsestats" class="panel-collapse collapse">
      <div class="panel-body">
                     <p>
				<table id= "statstable" class="tablesorter table table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Start Date</th>
						<th>Venue</th>
						<th>No of Participants</th>
						<th> </th>
					</tr>
					</thead>
					<tbody>
						{% for b in obj %}
					<tr>
					  <td>{{ b.w_name }}</td>
					  <td>{{ b.startdate }}</td>
					  <td>{{ b.venue }}</td>
					  <td>{{ b.no_of_participant }}</td>
					  <td><a href="http://fossee.in/events/view_details/{{ b.w_id }}" target="_blank">Details</a></td>
					</tr>
						{% endfor %}
				</tbody>
				</table>
				</p>
      </div>
    </div>
  </div>
  </div> <!-- /content -->
			{% else %}
			 <div id="content" class="col-lg-10 col-md-10 col-sm-10">
                        <h3>{{ page.heading }} </h3>
                        <p>
                        {{ page.content|safe }}
                        </p>
                    </div> <!-- /content -->

			{% endif %}
					<!--------------------------- -->
                    <div class="clearfix"></div>
                </div> <!-- /content-inner -->
            </div> <!-- /content-wrapper -->
            {% endblock %}

            <div id="extra-wrapper">
                <div id="extra-inner" class="row">
                    <!-- /future use -->
                </div> <!-- /extra-inner -->
            </div> <!-- /extra-wrapper -->

            {% block footer %}
            <div id="footer-wrapper">
                <div id="footer-inner">
                    {% for block in footer %}
                    {% if block.linkbox_name %}
                    <div class="foot col-lg-4 col-md-4 col-sm-4">
                    <h5 class="foot-heading">{{ block.linkbox_name }}</h4>
                    <ul>
                    {% for link in block.link_set.all|dictsort:"position" %}
                    {% if link.link|slice:":4" == "http" or link.link == "#" %}
                    <li><a href="{{ link.link }}" target="_blank">{{ link.link_name }}</a></li>
                    {% else %}
                    <li><a href="{% url 'website:dispatcher' link.link %}">{{ link.link_name }}</a></li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                    </div> <!-- /foot -->
                    {% endif %}

                    {% if block.textbox_name %}
                    <div class="foot col-lg-4 col-lg-4 col-sm-4">
                    <h5 class="foot-heading">{{ block.textbox_name }}</h4>
                    <p>
                    {{ block.content|safe }}
                    </p>
                    </div> <!-- /foot -->
                    {% endif %}

                    {% endfor %}
                    <div class="clearfix"></div>
                    <img id="django-logo" src="{% static 'website/images/django-logo.png' %}">
                </div> <!-- /footer-inner -->
            </div> <!-- /footer-wrapper -->
            <center>
				    Sponsored by:<br>
                    National Mission on Education through ICT<br>
                    MHRD<br>
                    <a href="http://www.sakshat.ac.in" target="_blank">http://www.sakshat.ac.in</a>
           </center>
            {% endblock %}
        {% endblock %}
        </div> <!-- /page-wrapper -->
<div id="credits">
<center>
	This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
	<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
</center>
</div>

    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/lightbox.min.js' %}"></script>
< !--Piwik-- >
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.spoken-tutorial.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 14]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-60190813-1', 'auto');
 ga('send', 'pageview');

</script>
<noscript><p><img src="http://analytics.spoken-tutorial.org/piwik.php?idsite=14" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
<script type="text/javascript" src="{% static 'website/js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function()
	{
		$("#statstable").tablesorter();
	}
);
</script>
    </body>
</html>

